.modal {
     position: absolute;
     top: 50vh;
     left: 50vw;
     transform: translate(-50%, -50%);
     background-color: white;
     padding: 40px;
     border-radius: 20px;
}

.new-agenda-item__checkboxes{
    display: flex;
    flex-direction: row;
}

.new-agenda-item__checkboxes div{
    margin-right: 20px;
}

.modal input, label {
    margin-bottom: 10px;
    display: block;
}

.modal button{
    border-radius: 22px;
    padding: 5px 10px;
    margin: 5px;
    font-size: 1em;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.modal button:hover{
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    background-color: transparent;
    cursor: pointer;
}